<h1><%= @discount.name %></h1>

<h3>Discount Percentage: <%= @discount.percentage_discount %></h3>
<h3>Quantity Threshold: <%= @discount.quantity_threshold %></h3>

<p>ON LIKE ITEMS: you will save <%= @discount.percentage_discount %>% off the collection of items - when you reach <%= @discount.quantity_threshold %> of that same item.</p>

<%= link_to 'Edit discount', edit_merchant_discount_path(@merchant, @discount) %>